global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 2000ms
    timeout client  50000ms
    timeout server  50000ms
    balance roundrobin

###########
listen stats
    bind *:8081
    stats enable
    stats uri /stats
    stats auth root:1g2h5749

frontend nginx_listen
	bind *:80
	default_backend gunicorn_send

backend gunicorn_send
        default-server check inter 500ms fall 2 rise 2  # Настройки проверки
	server backend1 flask1:5000 check
	server backend2 flask2:5000 check
	server backend3 flask3:5000 check
